* {
    box-sizing: border-box;
}

body {
    background-color: #104F55;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

header {
    background-color: #32746D;
    border-radius: 5px;
}

footer {
    background-color: #32746D;
}

nav {
    background-color: #9EC5AB;
}

article {
    background-color: #4b6360;
    display: inline-block;
}


div.container {
    margin: auto;
    max-width: 1280px;
}


.panel {
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}

.tight_panel {
    border-radius: 5px;
    padding: 1%;
}

.fixed {
    position: fixed;
}

article.panel {
    min-width: min-content;
    width: 200px;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

article:hover {
    background-color: #445553;
}

a {
    text-decoration: none;
    color: black;
}

a.button {
    display: inline-block;
    background-color: #9EC5AB;
    border-radius: 5px;
    border-style: outset;
    border-color: #4b6360;
    border-width: 2px;
    padding: 1%;
}

a.inline {
    text-decoration: underline;
}

a:hover {
    color: #E8DB7D;
}

a.button:hover {
    background-color: #8daf98;
}
