* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    background-color: #104F55;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

header {
    background-color: #32746D;
    border-radius: 5px;
}

footer {
    background-color: #32746D;
}

nav {
    background-color: #9EC5AB;
}

article {
    background-color: #4b6360;
}

summary {
    font-weight: 500;
}

li {
    display: list-item;
    list-style-position: inside;
}

code {
    font-family: monospace;
    font-size: 14px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: rgba(16, 79, 85, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 10px;
    margin-top: -10px;
    border-color: #32746D;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #104F55;
}

table tr:hover {
    background-color: #8daf98;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

#prosjekter article img {
    height: 200px;
}

#om_meg article img {
    height: 40px;
}

img.curved {
    border-radius: 15px;
}

div.container {
    margin: auto;
    max-width: 1280px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.p50 {
    width: 50%;
}

.p45 {
    width: 45%
}

.p30 {
    width: 30%;
}

.selectable, code, table.selectable_table td {
    -webkit-user-select: all; /* Safari */
    -ms-user-select: all; /* IE 10 and IE 11 */
    user-select: all;
}

.no_wrap {
    white-space: nowrap;
}

.background-color {
    background-color: #32746D;
}

.panel {
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}

.tight_panel {
    border-radius: 5px;
    padding: 1%;
}

.fixed {
    position: fixed;
}

article.panel {
    min-width: min-content;
    width: 20%;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

a.button {
    display: inline-block;
    background-color: #9EC5AB;
    border-radius: 5px;
    border-style: outset;
    border-color: #4b6360;
    border-width: 2px;
    padding: 1%;
}

a.inline {
    text-decoration: underline;
    font-weight: 500;
}


a:hover {
    color: #E8DB7D;
}

a.button:hover {
    background-color: #8daf98;
}

article.panel:hover, article.tight_panel:hover {
    background-color: #445553;
}