* {
    box-sizing: border-box;
}

body {
    background-color: #104F55;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

header {
    background-color: #32746D;
    border-radius: 5px;
}

footer {
    background-color: #32746D;
}

nav {
    background-color: #9EC5AB;
}


article {
    background-color: #4b6360;
}

summary {
    font-weight: 500;
}

code {
    font-family: monospace;
    font-size: 14px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: rgba(16, 79, 85, 0.5);
}

a {
    text-decoration: none;
    color: black;
    transition: all 250ms;
}

hr {
    margin: 10px;
    margin-top: -10px;
    border-color: #32746D;
}

video.video_480p {
    width: 100%;
    max-width: 853px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #104F55;
}

table tr:hover {
    background-color: #8daf98;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

#prosjekter article img {
    max-height: 200px;
}

#kontakt_meg article img {
    height: 40px;
}

img.curved {
    border-radius: 5px;
}

div.container {
    margin: auto;
    max-width: 1280px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}


.p60 {
    width: 60%;
}

.p50 {
    width: 50%;
}

.p45 {
    width: 45%
}

.p30 {
    width: 30%;
}

.selectable, code, table.selectable_table td {
    user-select: all;
}

.no_wrap {
    white-space: nowrap;
}

.background-color {
    background-color: #32746D;
}

.panel, .tight_panel {
    min-width: min-content;
    border-radius: 5px;
    padding: 1%;
}

.panel {
    margin: 1%;
}


.fixed {
    position: fixed;
}

.back_button {
    font-size: 250%;
}

article.panel, article.tight_panel {
    width: 20%;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

a.button {
    display: inline-block;
    background-color: #9EC5AB;
    border-radius: 5px;
    border-style: outset;
    border-color: #4b6360;
    border-width: 2px;
    margin: 0.1%;
    padding: 1%;
    min-width: fit-content;
    width: 15%;
}

a.inline {
    text-decoration: underline;
    font-weight: 500;
}


a:hover {
    color: #E8DB7D;
    cursor: pointer;
}

a.button:hover {
    background-color: #8daf98;
    background: linear-gradient(#8daf98, #9EC5AB);
}

article.panel:hover, article.tight_panel:hover {
    background-color: #445553;
    background: linear-gradient(#445553, #4b6360);
}

@media only screen and (max-width: 800px) {
    .p60 {
      width: 93%;
    }
    .panel {
        margin-left: 0.1%;
        margin-right: 0.1%;
    }
    .fixed {
        left:0px;
        top:0px;
    }
  }
